.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: url("https://plus.unsplash.com/premium_photo-1701795331238-b028a0aa5026?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 750px;
  padding: 20px;
  background-size: cover;
  gap: 20px;
}
